*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-clr: rgb(0, 157, 255);
    --blue-avatar-clr: rgba(0, 157, 255, 0.7);
    --orange-clr: rgb(255, 166, 0);
    --bg-clr: #141414;
    --section-bg-clr: #181818;
}

img {
    width: 100%;
}

body {
    min-height: 100vh;
    line-height: 1.3;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-clr);
    color: #e5e5e5;
}



/*** MAIN PAGE ***/


/** Contact **/

.contact {
    padding: 1rem;
    font-size: .8rem;
    width: 100%;

    display: flex;
    gap: 1rem;
    justify-content: center;
}

.contact a {
    color: #e5e5e5;
    text-decoration: none;
}

.contact a:hover {
    color: #b4b4b4;
}

.contact a:active {
    color: #b4b4b4;
}


/** Layout, profile picture **/

main {
    min-height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.avatar-wrapper {
    width: 155px;
    height: 155px;
    border-radius: 50%;
    background-color: rgba(0, 157, 255, 0.7);
    box-shadow: 0 0 1rem -.7rem #fff;
    overflow: hidden;
    animation: border-motion-2 infinite linear 4s;
}

.avatar-wrapper > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 1rem -.6rem #000;
    animation: border-motion infinite linear 4s;
}

/** Main heading **/

h1 {
    text-align: center;
    padding-inline: 1.5rem;
    font-size: clamp(1.8rem, .5rem + 3vw, 2rem);
    font-weight: 400;
}

#name {
    color: var(--blue-clr);
}

/** Sections - About, Projects, Tech stack **/

.sections {
    padding-inline: 1.5rem;
    max-width: 65em;

    display: grid;
    gap: 1.5rem;
    grid-template-areas: "a b" "a c";
}

.about {
    grid-area: a;
}

.projects {
    grid-area: b;
}

.tech-stack {
    grid-area: c;

}

.one-section {
    border: 2.5px solid var(--blue-avatar-clr);
    padding: 1rem;
    border-radius: 1rem;   
    background-color: #181818;
    box-shadow: 0 0 1rem -.3rem #000;   
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-block-end: .5rem;
}

.about-exp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subheader-experience {
    background: linear-gradient(to top right, rgb(205, 82, 0), rgb(255, 201, 53));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.about-exp > h4 {
    font-weight: 400;
    font-size: 1.25rem;
}

/* Projects */
.projects {
    position: relative;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 1.15rem;
    background: linear-gradient(to top right, rgb(205, 82, 0), rgb(255, 201, 53));
    z-index: -1;
}

.next-page {
    width: 100%;
    text-align: right;
    margin-block-start: .5rem;
}

.next-page img:active {
    transform: translate(1px, 2px);
}

.projects img {
    width: 35px;
}

/* Tech stack */
.tech-stack-logos {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.tech-stack-logos img {
    width: 30px;
    height: 30px;
}



/*** PROJECTS PAGE ***/

/** Title **/

#projects-heading {
    margin-block: 4rem 2rem;
    border-left: solid 3px var(--blue-clr);
}

/** Projects **/

.all-projects {
    padding-inline: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.one-project {
    max-width: 300px;
    height: fit-content;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 1rem -.3rem #000;
    background-color: #181818;
    transition: all 300ms ease-out;

    display: flex;
    flex-direction: column;
}

.one-project:hover {
    scale: 1.01;
    box-shadow: 0 0 1.5rem -.3rem #000;
}

.one-project-description {
    height: 50%;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.project-name {
    margin-block: 1rem;
}

.one-project-tech-stack-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.project-link {
    color: var(--blue-clr);
    text-decoration: none;
}

.project-link:hover {
    color: var(--blue-avatar-clr);
}

.project-link:active {
    color: var(--blue-avatar-clr);
}

.image-wraper img {
    width: 100%;
    height: 200px;
}

/** previous page button **/

.previous-page {
    margin-block-end: 2rem;
}

.previous-page img {
    width: 35px;
}

.previous-page img:active {
    transform: translate(1px, 2px);
}


/** Media queries **/

/* Mobile devices */
@media (width <= 738px) {
    .sections {
        padding-inline: 1rem;

        grid-template-areas: "a" "b" "c";
        gap: 1rem;
    }
}

/* Buttons and Links responsivity on mobile devices */
@media (hover: none) { 
    .contact a:hover {
        color: #e5e5e5;
    }
    .one-project:hover {
        scale: 1;
        box-shadow: 0 0 1rem -.3rem #000;
    }   
    .project-link:hover {
        color: var(--blue-clr);
    }
}