*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-clr: rgb(0, 157, 255);
    --blue-avatar-clr: rgba(0, 157, 255, 0.7);
    --orange-clr: rgb(255, 166, 0);
    --bg-clr: #141414;
    --section-bg-clr: #181818;
}

img {
    width: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
    font-size: 1rem;
    font-weight: 300;
    background-color: var(--bg-clr);
    color: #e5e5e5;
}

h1 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding-inline: 1.5rem;
    font-size: clamp(1.8rem, .5rem + 3vw, 2rem);
}

h2 {
    font-family: "Poppins", sans-serif;
    margin-block-end: .75rem;
    font-weight: 500;
}


/*===========
   MAIN PAGE
  ===========*/

/** Contact **/
.contact {
    padding-block: 2rem 2rem;
    font-size: .8rem;
    width: 100%;

    display: flex;
    gap: 1rem;
    justify-content: center;
}

.contact a {
    color: #e5e5e5;
    text-decoration: none;
}

.contact a:hover {
    color: #b4b4b4;
}

.contact a:active {
    color: #b4b4b4;
}


/** Layout, profile picture **/
main {
    min-height: 90svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    gap: 2rem;
}

.avatar-wrapper {
    width: 155px;
    height: 155px;
    border-radius: 50%;
    background-color: rgba(0, 157, 255, 0.7);
    box-shadow: 0 0 1rem -.7rem #fff;
    overflow: hidden;
    animation: border-motion-2 infinite linear 4s;
}

.avatar-wrapper > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 1rem -.6rem #000;
    animation: border-motion infinite linear 4s;
}

#name {
    color: var(--blue-clr);
}

/** Sections - About, Projects, Tech stack **/
.sections {
    padding-inline: 1.5rem;
    max-width: 65em;

    display: grid;
    gap: 1.5rem;
    grid-template-areas: "a b" "a c";
}

.one-section {
    border: 2.5px solid var(--blue-avatar-clr);
    padding: 1rem;
    border-radius: 1rem;   
    background-color: #181818;
    box-shadow: 0 0 1rem -.3rem #000; 
}

/* About me */
.about {
    grid-area: a;
    opacity: 0;
    animation: fade-in-bottom .5s ease-in forwards;
}

.about-exp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subheader-experience {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background: linear-gradient(to top right, rgb(205, 82, 0), rgb(255, 201, 53));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-block-end: .75rem;
}

.about-exp > h4 {
    font-weight: 400;
    font-size: 1.25rem;
}

/* Projects */
.projects {
    position: relative;   
    border: none;
    grid-area: b;
    animation: fade-in-bottom .6s ease-in;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.projects::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 1.15rem;
    background: linear-gradient(to top right, rgb(205, 82, 0), rgb(255, 201, 53));
    z-index: -1;
    opacity: 0;
    animation: fade-in-opacity 1s ease forwards;
    animation-delay: .6s;
}

.next-page {
    width: 100%;
    text-align: right;
    margin-block-start: .5rem;
}

.next-page img:active {
    transform: translate(1px, 2px);
}

.projects img {
    width: 35px;
}

/* Tech stack */
.tech-stack {
    grid-area: c;
    opacity: 0;
    animation: fade-in-bottom .3s ease-in forwards;
    animation-delay: .4s;
}

.tech-stack-logos {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.tech-stack-logos img {
    width: 30px;
    height: 30px;
}


/*===============
   PROCEJTS PAGE
  ===============*/

/** Title **/
#projects-heading {
    margin-block: 2rem 2rem;
    border-left: solid 3px var(--blue-clr);
    width: fit-content;
    margin-inline: auto;
}

/** Projects **/
.all-projects {
    padding-inline: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.one-project {
    max-width: 300px;
    height: fit-content;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 1rem -.5rem #000;
    background-color: #181818;
    transition: all 250ms ease-out;
    opacity: 0;
    animation: fade-scale 1s ease forwards;

    display: flex;
    flex-direction: column;
}

.one-project:hover {
    transform: translateY(-5px);
}

.one-project-description {
    height: 50%;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.project-name {
    margin-block: 1rem;
}

.one-project-tech-stack-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.project-link {
    color: var(--blue-clr);
    text-decoration: none;
    transition: all 50ms linear;
}

.project-link:hover {
    color: var(--orange-clr);
}

.project-link:active {
    color: var(--orange-clr);
}

.image-wraper img {
    width: 100%;
    height: 200px;
}

/** previous page button **/
.previous-page {
    margin-block-end: 2rem;
}

.previous-page img {
    width: 35px;
}

.previous-page img:active {
    transform: translate(1px, 2px);
}
